html {
    scroll-behavior: auto;
}

#header button.btn-secondary.btn-login{
    margin: -5px 2px 0 5px;
}
#header .invalid-tooltip{
    margin-top: -18px;
}

#header.opacity {
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: #080808;
    -webkit-transition: padding 300ms ease;
    transition: padding 300ms ease;
}

#header .lang_select .dropdown-item{
    color: #FEFEFE;
}

#featured .slider .slide-content .meta {
    padding-right: 14%;
    padding-left: 0px;
    margin-top: -410px;
}

#gamesFeatured #featGameTab .nav-item .nav-link {
    padding: 10px 20px;
    display: inline-block;
    background-color: #1a1a1a;
    color: #f7bb00;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    border: none;
    margin-left: 20px;
}

#gamesFeatured #featGameTab .nav-item .nav-link.active {
    background-color: #f7bb00;
    color: #1a1a1a;
}
.withraw-quick-amount{
    bottom: -48px !important;
    text-align: right;
}
.btn-quick-amount{
    bottom: -32px;
    right: 20px;
}
.btn-quick-amount .btn-add-amount{
    margin-right:2px;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
    border: 1px solid #ced4da;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #212529;
}

.react-datepicker__input-container {
    display: block !important;
}

.react-datepicker-wrapper {
    display: block !important;
}

.scroll-up {
    background-color: rgba(22, 22, 22, 0.7) !important;
    border: none !important;
    fill: #fff;
    padding: 12px;
    outline: none !important;
}

.react-code-input input{
    padding: 10px 20px !important;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

div.wallet-scroll::-webkit-scrollbar {
    background:#f1f1f1;
    width: 5px;
}

div.wallet-scroll {
    overflow-y: hidden;   
}

div.wallet-scroll:hover{
    overflow-y: overlay;
}

div.wallet-scroll:hover::-webkit-scrollbar {
    background-color: rgba(255,255,255,0.85);
    filter: "alpha(opacity=85)"; -ms-filter: "alpha(opacity=85)"; 
}

.filter-history p{
    width: 100%;
    margin-bottom: 0.25rem;
}
.filter-history .custom-select{
    width: 100%;
}

.dropdown-toggle:after{
    top: 15px;
    position: absolute;
    right: 7px;
}

.guide {
    border: 1px solid red !important;
}

.guide2 {
    border: 1px solid blue !important;
}
